// a
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    overflow-wrap: break-word;
    transition: font-size 30ms;
}

:root
{
    // Font size
    --fs-body: 0.9rem;
    --fs-h1: 2.2rem;
    --fs-h2: 1.6rem;
    --fs-h3: 1.2rem;
    --fs-code-snippet: 0.8rem;
    --fs-table: 0.8rem;
    --fs-section-name: 0.8rem;
    // Line height
    --lh-code-snippet: 1.2rem;
    --lh-table: 1.2rem;
}


body
{
    background-color: #101f24;
    color: #c4d7e4;
    font-size: var(--fs-body);
}

article
{
    padding: 0rem 2rem 0rem 2rem;
	width:100%;
    header
    {
        position: relative;
        left: -0.8rem;
    }
}

footer
{
	color: #79b5b9;
}

p
{
    padding: 0rem 0rem 0.8rem 0rem;
}

h1
{
    font-size: var(--fs-h1);
    font-weight: 400;
}

h2
{
    color: #b9e1ff;
    font-size: var(--fs-h2);
    position: relative;
    left: -1.05ch;
    padding: 2rem 0rem 0.8rem 0rem;
    font-weight: 400;
    &::before
    {
        position: relative;
        content: "#";
        color: #2fafda;
        left: -0.2rem;
    }
}

h3
{
    color: #a6cdeb;
    font-size: var(--fs-h3);
    position: relative;
    left: -1ch;
    padding: 0rem 0rem 0.8rem 0rem;
    font-weight: 400;
    &::before
    {
        position: relative;
        content: "-";
        color: #4a80a8;
        left: -0.2rem;
    }
}

//-----------------------------------
// Main page stuff
//-----------------------------------
.main-wrapper
{
  margin-top: 40vh;
  margin-bottom: 56vh;
  text-align: center;
}

.main-type-5
{
  margin: auto;
  width: 5ch;
  animation: typing .7s steps(5), blink .5s step-end alternate, hide .7s step-end;
  animation-fill-mode: forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

.main-type-15
{
  visibility: hidden;
  margin: auto;
  width: 15ch;
  animation: typing 2s steps(15), blink .5s step-end infinite alternate;
  animation-delay: .7s;
  animation-fill-mode: forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes hide {
  100% {
    border-right: 0px;
  }
}

@keyframes typing {
  100% {
    visibility: visible;
  }
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
//-----------------------------------
// Footer
//-----------------------------------

.footer-container
{
	display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
	padding-top: 2.5rem;
}

.footer-cutout
{
	background-color: #101f24;
	position: relative;
	width:100%;
	height: 2rem;
	border-radius: 0rem 0rem 1rem 1rem;
}

.footer-background
{
	background-color: #0d171b;
	height: 8rem;
}

//-----------------------------------
// Code snippet
//-----------------------------------

.code-snippet-container
{
    background-color: #0d171b;
    border-radius: 1rem;
    padding: 0.4rem 0rem 1rem 0rem;
    margin: 0.6rem 0rem 0.6rem 0rem;
	width:100%;
    line-height: var(--lh-code-snippet);
    font-size: 1rem;
    table
    {
        font-size: var(--fs-code-snippet);
        margin-top: 1rem;
    }
}

.code-snippet
{
    width: 100%;
    text-align: left;
}

.line-numbers
{
    padding: 0rem 0.6rem 0rem 1.2rem;
    color: #4c616b;
}

.code-snippet-file
{
    font-size: var(--fs-section-name);
    color: #779daf;
    margin: 0.4rem 0rem 1rem 1.2rem;
}

//-----------------------------------
// Side bar
//-----------------------------------
.side-bar-container
{
    top: 10rem;
    display: flex;
    flex-direction: column;
    position: sticky;
    margin-top: 10rem;
    margin-right: 1rem;
    width: 20%;
    height: fit-content;
}

// Navigation container
.navigation-container
{
    background-color: #0d171b;
    width: 100%;
    border-radius: 1rem ;
    user-select: none;
}

.nav-list
{
    list-style-type: none;
    font-weight: 400;
    margin-bottom: 1rem;
    li
    {
        font-size: 0.9rem;
        //padding-top: 0.4rem;
        height: 2rem;
        a
        {
            position: relative;
            display: flex;
            align-items: center;
            z-index: 2;
            //position: absolute;

            height: 100%;
            width: 100%;
            padding-left: 15%;
            &:hover
            {
                cursor: crosshair;
            }
        }
    }
}

.nav-title
{
    font-size: 1.2rem;
    padding: 1rem 0rem 0.5rem 2rem;
    color: #4fb6d8;
}

.nav-highlight
{
    z-index: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.315);
    left: 0rem;
    width: 100%;
    height: 2rem;
    margin-top: 0rem;
}

// External links
.external-links-container
{
    background-color: #0d171b;
    width: 100%;
    margin-top: 2rem;
    border-radius: 1rem ;
    user-select: none;
}

.e-links-title
{
    font-size: 1.2rem;
    padding: 1rem 0rem 0.5rem 2rem;
    color: #4fb6d8;
}


.e-links-list
{
    margin: 0rem 0rem 1rem 1.2rem;
    a
    {
        display: inline-block;
        width: 1.8rem;
        height: 1.8rem;
        img
        {
            width: 100%;
        }
    }
}

//-----------------------------------
// Image container
//-----------------------------------
.image-container
{
    background-color: #0d171b;
    border-radius: 1rem;
    margin: 0.6rem 0rem 0.6rem 0rem;
    img
    {
        padding: 0.4rem 0.4rem 0.2rem 0.4rem;
        border-radius: 1rem;
        width: 100%;
    }
}

.image-description
{
    font-size: var(--fs-section-name);
    color: #779daf;
    float: left;
    width: auto;
    margin: 0.4rem 1rem 0rem 1rem;
}

//-----------------------------------
// Table container
//-----------------------------------
.table-container
{
    background-color: #0d171b;
    border-radius: 1rem;
    padding: 0.4rem 0rem 1rem 0rem;
    margin: 0.6rem 0rem 0rem 0rem;
    line-height: var(--lh-table);
    font-size: 1rem;
    table
    {
        border-spacing: 0px;
        font-size: var(--fs-table);
        margin: 0.5rem 2% 0rem 2%;
        width: 96%;
        text-align: center;
        tr
        {
            td
            {
                border-left-style: solid;
                border-left-width: 1px;
                border-color: #556c77;
                width: 10%;
            }
        }
    }
}

.table-name
{
    font-size: var(--fs-section-name);
    color: #779daf;
    margin: 0.4rem 0rem 0rem 1.2rem;
}

.table-header
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #556c77;
    width: 100%;
}

//-----------------------------------
// Article container
//-----------------------------------
.article-container
{
    display: flex;
    flex-direction: column;
    padding: 4rem 0rem 0rem 0rem;
    width: 56rem;
}

.content-container
{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.headline
{
    color: #4fb6d8;
}

.subheadline
{
    padding: 0px;
    left: 0.9rem;
    color: #4fb6d8;
    &:before
    {
        content: "";
    }
}

.postmeta
{
    position: relative;
    display: block;
    margin-bottom: 2rem;
    left: 0.9rem;
    color: grey;
}

@media (min-width: 64rem)
{
    .content-container
    {
        max-width: 72rem;
    }
	
	.footer-container
	{
		max-width: 72rem;
	}
}


@media (max-width: 72rem)
{
    :root
    {
        --fs-body: 0.8rem;
        --fs-h1: 2rem;
        --fs-h2: 1.4rem;
        --fs-h3: 1.1rem;
        --fs-code-snippet: 0.8rem;
        --fs-table: 0.8rem;
        --fs-section-name: 0.8rem;

        --lh-code-snippet: 1.1rem;
        --lh-table: 1.1rem;
    }

    .side-bar-container
    {
        position: absolute;
        margin: 0px;
        padding: 0px;
        width: 0px;
        height: 0px;
        visibility: hidden;
    }
    .article-container
    {
        display: block;
        float: left;
        margin:auto;
        max-width: 72rem;
    }

    .line-numbers
    {
        padding: 0rem 0.6rem 0rem 0.8rem;
    }
}

@media (max-width: 40rem)
{
    :root
    {
        --fs-body: 0.7rem;
        --fs-h1: 1.8rem;
        --fs-h2: 1.2rem;
        --fs-h3: 1rem;
        --fs-code-snippet: 0.6rem;
        --fs-table: 0.4rem;
        --fs-section-name: 0.5rem;

        --lh-code-snippet: 0.7rem;
        --lh-table: 0.7rem;
    }
}

//-----------------------------------
// Code snippet format
//-----------------------------------
.comment
{
    color: #01a179;
}

.type
{
    color: #02949e;
}

.argument
{
    color: #79b5b9;
}

.statement
{
    color: #8d6cb9;
}

.number
{
    color: #79d3b2;
}

.variable
{
    color: #49c9c9;
}

.preprocessor
{
    color: #8d6cb9;
}

.keyword
{
    color: #8d6cb9;
}

.string
{
    color: #dda653;
}

.function
{
    color: #c5b050;
}

.arrow-surround
{
	&::before
	{
		content: '<';
	}
	&::after
	{
		content: '>';
	}
}

.tab
{
    display: inline-block;
    margin-left: 2rem;
}
